<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reservierungen</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/webjars/bulma/css/bulma.min.css" rel="stylesheet">
</head>
<body>

<div class="level m-2">
    <div class="level-left">
        <form class="level-item" method="get" th:action="@{/bookings}">
            <label for="datepicker"></label>
            <input class="box" id="datepicker" name="date" onchange="this.form.submit()" th:value="${currentDate}"
                   type="date"/>
        </form>
    </div>

    <div class="level-right">
        <a class="level-item button is-info is-medium" th:if="${isAdmin}" th:href="@{/register}">Neuen Benutzer
            anlegen</a>
        <div class="level-item">
            <a class="button is-info is-medium" th:href="@{/update-password}">Passwort ändern</a>
        </div>
        <form class="level-item" method="post" th:action="@{/logout}">
            <button class="button is-primary is-medium" type="submit">Logout</button>
        </form>
    </div>
</div>


<div class="box" th:each="court : ${T(de.zeilfelder.tc.courtbooking.entities.Court).values()}">
    <h2 th:text="${court.getDisplayString()}"></h2>
    <table class="table is-fullwidth is-hoverable">
        <tbody>
        <tr class="columns" th:each="hour, i : ${#numbers.sequence(0, 23)}">
            <th class="column" th:text="${hour} + ':00 Uhr'"></th>
            <th:block th:switch="${bookings.get(court)?.containsKey(hour) || previousBooking2HoursLong}"
                      th:with="previousBooking2HoursLong = ${bookings.get(court)?.get(hour - 1)?.duration()?.toHours() == 2}">
                <th:block th:case="true">
                    <td class="column" th:text="${bookings.get(court).get(hour).username()}"
                        th:unless="${previousBooking2HoursLong}">
                    </td>
                    <td class="column" th:if="${previousBooking2HoursLong}"
                        th:text="${bookings.get(court).get(hour - 1).username()}">
                    </td>
                    <td class="column">
                        <a th:href="@{/bookings/delete-booking(dateTime=${currentDate.atTime((previousBooking2HoursLong ? hour - 1 : hour), 0)},court=${court})}">
                            <div>Reservierung stornieren</div>
                        </a>
                    </td>
                </th:block>
                <th:block th:case="*">
                    <td class="column"><a
                            th:href="@{/bookings/make-booking(dateTime=${currentDate.atTime(hour, 0)},court=${court})}">Reservieren</a>
                    </td>
                    <td class="column"></td>
                </th:block>
            </th:block>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
