<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reservieren</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/webjars/bulma/css/bulma.min.css" rel="stylesheet">
</head>

<body class="box">
<h1 class="block is-size-3"
    th:text="'Reservierung für ' + ${bookingRequest.selectedCourt.getDisplayString()} + ' am ' + ${#temporals.format(bookingRequest.selectedTime, 'dd.MM.yyyy, HH:mm')} + ' Uhr'"></h1>
<form class="block" method="post" th:action="@{make-booking}" th:object="${bookingRequest}">
    <label class="label" for="duration">Spieldauer:</label>
    <div class="select">
        <select id="duration" th:field="*{selectedDuration}">
            <option value="PT1H">1 Stunde</option>
            <option value="PT2H">2 Stunden</option>
        </select>
    </div>
    <input th:field="*{selectedCourt}" type="hidden">
    <input th:field="*{selectedTime}" type="hidden">
    <button class="button is-primary" type="submit">Reservieren</button>
</form>
</body>
</html>