<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registrierung</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/webjars/bulma/css/bulma.min.css" rel="stylesheet">
</head>

<body>
<h1 class="block">Registrierung</h1>

<form method="post" th:action="@{/register}" th:object="${user}">

    <div class="field">
        <label for="firstname">Vorname:</label>
        <div class="control">
            <input class="input" autofocus id="firstname" required th:field="*{firstname}" type="text">
        </div>
        <span th:errors="*{firstname}" th:if="${#fields.hasErrors('firstname')}"></span>
    </div>

    <div class="field">
        <label for="lastname">Nachname:</label>
        <div class="control">
            <input class="input" id="lastname" required th:field="*{lastname}" type="text">
        </div>
        <span th:errors="*{lastname}" th:if="${#fields.hasErrors('lastname')}"></span>
    </div>

    <div class="field">
        <label for="email">E-Mail:</label>
        <div class="control">
            <input class="input" id="email" required th:field="*{email}" type="email">
        </div>
        <span th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></span>
    </div>

    <div class="field">
        <label for="password">Passwort:</label>
        <div class="control">
            <input class="input" id="password" required th:field="*{password}" type="password">
        </div>
        <span th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></span>
    </div>

    <div class="field">
        <label for="role">Passwort:</label>
        <div class="control">
            <div class="select">
                <select id="role" th:field="*{role}">
                    <option th:each="role : ${roles}" th:value="${role}" th:text="${role.getDisplayName()}"></option>
                </select>
            </div>
        </div>
        <span th:errors="*{role}" th:if="${#fields.hasErrors('role')}"></span>
    </div>

    <!-- Add other registration fields as needed -->

    <button class="button is-primary" type="submit">Benutzer registrieren</button>
</form>
</body>
</html>