<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Passwort ändern</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/webjars/bulma/css/bulma.min.css" rel="stylesheet">
</head>

<body class="container">
<h1 class="block">Passwort ändern</h1>

<form method="post" th:action="@{/update-password}" th:object="${passwordUpdateDto}">

    <div class="field">
        <label class="label" for="oldPassword">Altes Passwort</label>
        <div class="control">
            <input class="input" autofocus id="oldPassword" required th:field="*{oldPassword}" type="password">
        </div>
        <span th:errors="*{oldPassword}" th:if="${#fields.hasErrors('oldPassword')}"></span>
    </div>

    <div class="field">
        <label class="label" for="newPassword">Neues Passwort</label>
        <div class="control">
            <input class="input" id="newPassword" required th:field="*{newPassword}" type="password">
        </div>
        <span th:errors="*{newPassword}" th:if="${#fields.hasErrors('newPassword')}"></span>
    </div>
    <div class="control">
        <button class="button is-primary" type="submit">Passwort ändern</button>
    </div>
    <p class="field has-text-danger" th:if="${isOldPasswordInvalid}">Altes Passwort ist nicht korrekt!</p>
    <p class="field has-text-success" th:if="${isPasswordChangeSuccesful}">Passwort erfolgreich geändert</p>
</form>
<a class="mt-4 button is-info" th:href="@{/bookings}">Zurück zum Buchungskalender</a>
</body>
</html>